.ui-overlay {
    background: #555;
    opacity: 0;
    position: fixed;
    z-index: 1099;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.proxy {
    position: absolute;
}

.ui-widget {
    position: fixed;
    top: 50%;
    left: 50%;
    background: #000;
    z-index: 1100;
    overflow: hidden;
    border: 3px solid black;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.full-image {
    padding: 0;
    margin: 0;
    position: absolute;
    cursor: move;
}

.ui-tagline {
    padding: 4px;
    position: absolute;
    height: 22px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index:1101;
    background: rgba(25, 25, 25, 0.5);
    color: white;
    line-height: 1.5;
    border: none;
}

.ui-tagline > h4 {
    display: inline;
}

.resize-button {
    top: 5px;
    right: 5px;
    background: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 1);
    position: absolute;
    z-index: 1102;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    border: none;
    opacity: 0;
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
}

.resize-button:hover {
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 1);
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
}
